@model IEnumerable<string>

    

@Html.ActionLink("Home", "List", "Product", null, new { @class = "w3-bar-item w3-button" })
@foreach(var link in Model){
    
    
        
        @Html.RouteLink(link, new { controller = "Product", action = "List", category = link, page = 1 }, new { @class =" w3-bar-item w3-button "+ (link == ViewBag.SelectedCategory ? "selected" : "")  })
        @*<a href="#" class="w3-bar-item w3-button">Dresses</a>
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
            Jeans <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a>
            <a href="#" class="w3-bar-item w3-button">Relaxed</a>
            <a href="#" class="w3-bar-item w3-button">Bootcut</a>
            <a href="#" class="w3-bar-item w3-button">Straight</a>
        </div>
        <a href="#" class="w3-bar-item w3-button">Jackets</a>
        <a href="#" class="w3-bar-item w3-button">Gymwear</a>
        <a href="#" class="w3-bar-item w3-button">Blazers</a>
        <a href="#" class="w3-bar-item w3-button">Shoes</a>*@
    @*</div>*@
}
@section script{
    $(document).ready(function(){
    if(!$("div#category a").hasClass("selected")) {
    $("div#category a:first-child").addClass("selected");
    }
    });

}